{% extends "ProjectCentricMail/base.html" %}

{% block body %}
<!------ Include the above in your HEAD tag ---------->

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>About</h4>
			</br>
			<p>“To realize the value of one second, ask the person who just missed a bus or train.”</br>
			</br>
This project, the Project Centric Mailbox (PCM) is based on a simple observation. In business, it is not easy to end up in his mailbox. Following this, the student engineers found a solution to improve the mailbox, with great attention to the visualization part.
</br></br>
In this project if someone works on five projects, they will have five clusters. In a concrete use case, a person arrives on the PCM. It allows the access to its mails, and these are imported on a database SQLite, encrypted and secured. Once connected, the person arrives on a home page, where they can see the different clusters, and go to the page that interests them. The mails of the various projects are no longer mixed, which facilitates the visibility of these. The second big change is using pattern matching for identification of spamming mails.
</br></br>
The third big feature is classification of mails on the basis of whether it is formal or informal. It helps the individual to identify the mails which belongs to its business ,projects ,etc .For this supervise machine learning is used .
</br></br>
google API are used to fetch mails from gmail, for this authentication from user is required.</p>
		</div>
	</div>
</div>


{% endblock %}
